/*Media*/

@media (max-width: 768px) {

    // Navbar *********************
    

    // Footer ***********************
    #footer {
        position: relative;
        bottom: 0;

        
        .footer-container .copy {

            // display: flex;
            flex-direction: column;
            // justify-content: center;
            // align-items: center;
        }
    }

    
    // Home page *************************

    #showcase .showcase-container {
        padding-top: 50px;
    }

    #hello {

        .hello-grid {
            display: block;            
        }

        .hello-card {
            margin-bottom: 15px;
        }
        
        
    }

    .hello2 .action-grid .column {
        padding: 1rem;
    }

    .home3 {
        margin: 3rem auto;

        .home3-grid {
            gap: 0rem;
        }

        .home3-content {
            display: flex;
            flex-direction: column;
        }

        .home-content-text {
            text-align: center;
            align-items: center;

            h1 {
                padding-top: 1rem;
            }
        }
    }


    .home2 .home2-content-card {
        padding-top: 7rem;
        margin: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // About page **********************

    #about-main {

        #about-us {
            
            .about-section {
                flex-direction: column;

                aside {
                    width: 100%;
                    height: 50%
                }
            }

            .about-container {
                margin: 5rem;
            }
        }   
        
        
        .about-footer {
            position: relative;
            width: 100%;
            bottom: 0;  
        }
    }

    // What We Do page ************************

    #what-main .tp {

        .what-intro {
            padding: 2rem 2rem;
        }

        .what-showcase {
            padding: 2rem 2rem 3rem;
        }

        .what-training .training-container {
            padding: 2rem 2rem;
        }
    }

    // Puppy Services ***************************

    .services-main {
        
        .puppy-banner .puppy-content-text {
            margin: 0rem 3rem;
            text-align: center;
        }
        .puppy-showcase .puppy-showcase-grid {
            padding: 5rem 1rem;

            img {
                height: 100%;
            }

            .puppy-showcase-content {
                text-align: center;
            }
        }

        .puppy-notes {
            margin: 0 2rem;
        }
    }

    // Adult Services ***************************

    .services-main {
        
        .adult-banner .adult-content-text {
            margin: 0rem 3rem;
            text-align: center;
        }
        .adult-showcase .adult-showcase-grid {
            padding: 5rem 1rem;

            img {
                height: 100%;
            }

            .adult-showcase-content {
                text-align: center;
            }
        }

        .adult-notes {
            margin: 0 2rem;
        }
    }

    // Meet Ellie *****************************
    #stories-container {

        .meet-title {
            padding: 0;
            margin-top: 3rem;
        }


        .story-container {
            padding: 2rem 2rem;
            flex-wrap: wrap;

            .story-lead {
                text-align: center;
                padding-bottom: 1rem;
                font-size: 2rem;
            }

            .story-text {
                text-align: center;
                margin-bottom: 1rem;

                p {
                    margin: unset;
                }
            }
        }

        .story-right {
            .story-lead {
                padding-top: 1rem;
            }
        }

    }

    // Gallery *********************
    .gallery-grid {
        margin: 0rem;
    }

    .pic-grid {
        img {
            height: 150px;
        }
    }

    .pic-modal .close-icon-wrapper {
        right: 50px;
    }

    .modal-content {
        img {
            height: 500px;
            width: 500px;
        }
    }

    .resized {
        text-align: center;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: inherit;
        width: inherit;

        img {
            height: 500px;
            width: 500px;
        }
    }
    
    .resized-small {
        text-align: center;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
        height: inherit;
        width: inherit;

        img {
            height: 500px;
            width: 500px;
        }
    }

    // Contact page ************


}


@media (max-width: 600px) {
    
    // Home page ************
    .tp {
        padding-top: 0px;
    }
}   
