@import'config';

/*Media*/

@media (max-width: 768px) {

    // Navbar *********************
    

    // Footer ***********************
    #footer {
        position: relative;
        bottom: 0;

        
        .footer-container .copy {

            // display: flex;
            flex-direction: column;
            // justify-content: center;
            // align-items: center;
        }
    }

    
    // Home page *************************

    #showcase .showcase-container {
        padding-top: 50px;
    }

    #hello {

        .hello-grid {
            display: block;            
        }

        .hello-card {
            margin-bottom: 15px;
        }
        
        
    }

    .hello2 .action-grid > div .column {
        padding: 1rem;
    }

    .home3 {
        margin: 3rem auto;

        .home3-grid {
            gap: 0rem;
        }

        .home3-content {
            display: flex;
            flex-direction: column;
        }

        .home-content-text {
            text-align: center;
            align-items: center;

            h1 {
                padding-top: 1rem;
            }
        }
    }


    .home2 .home2-content-card {
        padding-top: 7rem;
        margin: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // About page **********************

    #about-main {

        #about-us {
            
            .about-section {
                flex-direction: column;

                aside {
                    width: 100%;
                    height: 50%
                }
            }

            .about-container {
                margin: 5rem;
            }
        }   
        
        
        .about-footer {
            position: relative;
            width: 100%;
            bottom: 0;  
        }
    }

    // What We Do page ************************

    #what-main .tp {

        .what-intro {
            padding: 2rem 2rem;
        }

        .what-showcase {
            padding: 2rem 2rem 3rem;
        }

        .what-training .training-container {
            padding: 2rem 2rem;
        }
    }

    // Puppy Services ***************************

    .services-main {
        
        .puppy-banner .puppy-content-text {
            margin: 0rem 3rem;
            text-align: center;
        }
        .puppy-showcase .puppy-showcase-grid {
            padding: 5rem 1rem;

            img {
                height: 100%;
            }

            .puppy-showcase-content {
                text-align: center;
            }
        }

        .puppy-notes {
            margin: 0 2rem;
        }
    }

    // Adult Services ***************************

    .services-main {
        
        .adult-banner .adult-content-text {
            margin: 0rem 3rem;
            text-align: center;
        }
        .adult-showcase .adult-showcase-grid {
            padding: 5rem 1rem;

            img {
                height: 100%;
            }

            .adult-showcase-content {
                text-align: center;
            }
        }

        .adult-notes {
            margin: 0 2rem;
        }
    }

    // Meet Ellie *****************************
    #stories-container {

        .meet-title {
            padding: 0;
            margin-top: 3rem;
        }


        .story-container {
            padding: 2rem 2rem;
            flex-wrap: wrap;

            .story-lead {
                text-align: center;
                padding-bottom: 1rem;
                font-size: 2rem;
            }

            .story-text {
                text-align: center;
                margin-bottom: 1rem;

                p {
                    margin: unset;
                }
            }
        }

        .story-right {
            .story-lead {
                padding-top: 1rem;
            }
        }

    }

    // Gallery *********************
    .gallery-grid {
        margin: 0rem;
    }

    .pic-grid {
        img {
            height: 150px;
        }
    }

    .pic-modal .close-icon-wrapper {
        right: 50px;
    }

    .modal-content {
        img {
            height: 500px;
            width: 500px;
        }
    }

    .resized {
        text-align: center;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: inherit;
        width: inherit;

        img {
            height: 500px;
            width: 500px;
        }
    }
    
    .resized-small {
        text-align: center;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
        height: inherit;
        width: inherit;

        img {
            height: 500px;
            width: 500px;
        }
    }

    // Contact page ************


}


@media (max-width: 600px) {
    
    // Global top margin reset
    .tp {
        padding-top: 0px;
    }


    // Footer *************
    #footer {

        .chat .icon-wrapper {
            bottom: 110px;
        }

        .chat i {
            padding: 10px 10px;
        }
    }

    // Sticky footer
    // .sticky-footer {
    //     position: fixed;
    //     bottom: 0;
    //     left: 0;
    //     width: 100%;
    // }


    // Home page ************
    #showcase {
        height: 310vw;
    }

    #home-content2 {

        .home-content-text {
            padding: 6rem 6rem;

            h1 {
                font-size: 3rem;
            }
        }
    }

    #hello {

        .hello-grid  {
            padding: 0 2rem;
        }
    }

    .hello2 {
 
        .container {
            padding: 0rem;

            .hello2-title {
                padding-bottom: 2rem;
                padding-left: 1rem;
                padding-right: 1rem;
            }

        }
    }

    .home3 {

        margin: 0rem 0rem;

        .home3-grid {
            padding: 0rem;
        }

    

        .home-content-text {
            padding-bottom: 2rem;
            padding-left: 1rem;
            padding-right: 1rem;

            p {
                padding-bottom: 2rem;
            }

        }
    }

    .home2 {
        z-index: 1;
        background: url(../assets/img/dog29.jpg) no-repeat center center/cover;
        background-attachment: fixed;
        height: 140vh;

        .home2-content-card {
            
            .card-text-wrapper {
                text-align: center;
                
                h1 {
                    font-size: 2.2rem;
                }

                .contact-box {
                    padding-left: 0rem
                }
            }
        }
    }

    // About Page **************************

    // What we Do page *********************

    #what-main {

        .what-grid {
            grid-template-columns: none;
            grid-template-rows: repeat(1, 1fr);
        }

        .tp .what-training {
            
            .training-container {
                padding: 2rem 0rem;
            }

            img {
                height: 400px;
            }
        } 
    }

    // Puppy Services *****************
    
    .services-main {

        .puppy-showcase {
    
            .puppy-showcase-grid {
                grid-template-columns: none;
                padding: 3rem 1rem;
                grid-template-rows: repeat(1, 1fr);
            }

            &-content {
                p {
                    padding-bottom: 2rem;
                }
            }
            
        }

        .puppy-services {

            .action-grid {
                .column2 {
                    padding-left: 5rem;
                }
            }
        }
    }

    // Adult Services *****************
    .services-main {

        .adult-showcase {
    
            .adult-showcase-grid {
                grid-template-columns: none;
                padding: 3rem 1rem;
                grid-template-rows: repeat(1, 1fr);
            }

            &-content {
                p {
                    padding-bottom: 2rem;
                }
            }
            
        }

        .adult-services {

            .action-grid {
                .column2 {
                    padding-left: 5rem;
                }
            }
        }
    }

    // Meet Ellie page *****************
    #stories-container {
        #gallery {
            p {
                padding-bottom: 1rem;
            }

        }

        .vs {
            margin-top: 2rem;

            h3 {
                padding: 0 1.5rem;
            }
        }
    }

    // Gallery grid  **********************
    .gallery-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    // Gallery modal *********************
    .modal-content {
        height: 100%;
        
    }

    .swiper-container-horizontal .swiper-pagination-bullets .swiper-pagination-bullet {
        background-color: $main-color;
    }

    // .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    //     color: #e33a93;
    // } 


    .swiper-slide {
        width: 500px;
        height: 500px;
        // margin: 0 15px;
        // .swiper-container .swiper-container-initialized .swiper-container-horizontal {

        //     .swiper-pagination-bullet {
        //             color: #e33a93;
        //     }
        // }
    }


    // Contact page ***********************
    #contact-main {
        
        #form-container .form-wrap {
            width: unset;

            p {
                padding-bottom: 1.6rem;
            }
        }
    }

}   
