@import'config';
@import'utilities';
 
#about-main {

    #about-us {
        .about-section {
            display: flex;
            flex-direction: row;

            aside {
                
                width: 45%;
                height: 100%;

                img {
                    height: 100%;
                }
            }
        }
        

        .about-container {
            margin: 2rem 10rem;

            .about-btn {
                text-align: center;
                margin-top: 5rem;
            }
             
        }
        
        .about-text {
            text-align: center;
            
            h1 {
                font-size: 2rem;
                padding-bottom: 5rem;
            }
        }
    
    }

    .about-footer {
        position: absolute;
        width: 100%;
        bottom: 0;  
    }
}

@import'media';