@import'config';
@import'utilities';
 
// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// General Styles ******************

body {
    font-family: 'Open Sans', sans-serif;
    min-width: fit-content;
    // height: 100%;
    line-height: 1.4;

}
 
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}





