@import'config';
@import'utilities';



 
#stories-container {
    
    .bg-1 {
        background: #fff;
    }

    .bg-2 {
        background: #cafff28c;
    }

    .meet-title {
        text-align: center;
        font-size: 2.5rem;
        padding: 5rem 0;
    }

    .story-lead {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    padding: 0 0;


    .story-container {
        display: flex;
        justify-content: center;
        padding: 2rem 25rem;
    }

    .elliePic {
        height: 350px;
        width: 400px;
    }

    .story {
        width: 100%;
    }

    .story-left {
        p {
            margin-right: 3rem;
        }
    }

    .story-right {
        p {
            margin-left: 3rem;
        }
    }

    .vs {
        text-align: center;
        margin-top: 4rem;

        h3 {
            margin-top: 1rem;
        }
        
        a {
            display: inline-block;
            font-weight: 700;
            color: #fff;
            margin: 2rem 0;
            padding: 1rem;
            background:#e33a93;
            border-radius: 10px;
            
            &:hover {
                background: #e33a94a8;
            }
        }
    }

    hr {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    #gallery {
        padding-bottom: 3rem;

        p {
            text-align: center;
            font-size: 2rem;
            font-weight: 550;
            padding-top: 1rem;
        }
    }
}
    

@import'media';
    