@import'config';
@import'utilities'; 

 

// Header ********************
 
#showcase {
    color: #fff;
    background: url(../assets/img/doglarge.jpg) no-repeat center center/cover;
    background-attachment: fixed; 
    height: 100vh;


    .showcase-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        img {
            // margin-top: 6rem;
            height: 150px;
            width: 400px;
        }

        h1 {
            font-size: 3rem;
            padding-bottom: 2rem;
        }

    }
}


#home-content2 {
 
    .home-banner {
        background: #333;
        position: relative;

        &:before {
            content: '';
            background: url(../assets/img/dog18.jpg) no-repeat center center/cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.6;
        }
    }
    

    .home-content-text {
        padding: 12rem 8rem;
        position: relative;
        text-align: center;
        color: #fff;

        h1 {
            font-size: 4rem;
            padding-bottom: 1.5rem;
        }

        p {
            font-weight: 500;
            font-size: 1.2rem;
            padding-bottom: 2.5rem;
        }

    }


    .pic-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 1.5rem 10rem;
        padding-bottom: 2rem;
    }

    .btn-wrapper {
        text-align: center;
        padding-bottom: 1rem;

        .btn-primary {
            width: 150px;
        }
    }
} 


#hello {

    .hello-intro {
        text-align: center;
        margin-bottom: 2rem;

        p {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }
    }

    .hello-title {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .hello-title2 {
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    padding: 2rem 0;

    .hello-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 0 8rem;
    }

    .hello-card {
        display: flex;
        flex-direction: column;

    }
    
    .bg-card1 {
        color: #000;

    }
    .bg-card2 {
        color: #000;
    }
    
    .hello-text {
        text-align: center;
        padding: 2rem 0;
        border: 1px solid #e33a949a;
        border-bottom: hidden;
    }

    .title {
        font-size: 1.3rem;
        font-weight: 600;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }


    .img-wrapper {
        height: 100%;
    }

}


.hello2 {

    background: rgba(36, 228, 228, 0.267);
    padding: 3rem 0;

    .hello2-title {
        text-align: center;
        padding-bottom: 2rem;
    }

    .action-grid > div {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .column {
            padding: 1rem 5rem;

            li {
                margin-bottom: 1rem;
            }

            i {
                padding-right: 0.5rem;
                color: $main-color;
            }
        }
    }

    .outro {
        text-align: center;
        padding-top: 1rem;
    }
}


.home3 {

    margin: 3rem 10rem;

    .bd-right {
        border-right: 1px solid black;
    }

    img {
        height: 100%;
    }

    .home3-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 0;
        gap: 2rem;
        
    }

    .home3-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: #fff;
    }

    .home-content-text {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;

        h1 {
            padding-bottom: 1rem;
        }

        p {
            padding-bottom: 5rem;
        }

        a {
            width: 150px;
        }
    }
}

.home2 {
    z-index: 1;
    background: url(../assets/img/dog11large.jpg) no-repeat center center/cover;
    background-attachment: fixed;
    background-color: #fff;
    
    // padding: 0 0 2rem;
    // position: absolute;
    height: 100vh;

    // img {
    //     height: 100%;
    //     width: 100%;
    // }
    
    // .home2-container {
    //     height: 100%;
    //     // display: flex;
    // }
    
    .home2-content-card {
        height: 100%;
        margin: 0 8rem;
        padding-top: 20rem;
        // display: flex;
        // flex-direction: column;
        // position: relative;
        

        // align-items: center;
        // justify-content: center;
        color: #fff;
        // bottom: 20rem;

        .card-text-wrapper {
            // padding-right: 80rem;
            // position: fixed;
            h1 {
                // position: fixed;
                // display: block;
                padding-bottom: 2rem;
                font-weight: bold;
                font-size: 2.5rem;
                // background: rgba(204, 204, 204, 0.493);
            }

        }

        .contact-box {
            // text-align: center;
            margin-top: 2rem;
            padding-left: 8rem;
        }
        
        
    }

    

    
    
}

@import'media';



