@import'utilities';
@import'config';

.navbar {
    // height: 100px;
    background: $main-color;
    padding: 0 1rem;

    .navbar-nav {
        max-width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .display-block {
                display: block;
            }
            
            .cock {
                display: none;
            }
        }

        a { 
            display: block;
            color: #fff;
            padding: 0.5rem;
            font-weight: 600;

            &:hover {
                background: #fff;
                color:$main-color;
                transition: 0.5s;
            }
        }
    }

}